body {
    background-color: tan;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding-top: 50px;
    padding-left: 50px;
    border: 10px solid;
    border-radius: 20px;
    background-color: tan;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

img {
    width: 100%; /* Change width to 100% to ensure it resizes with the container */
    height: auto;
    box-shadow: 0 0 10px black;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in;
}

.Leftclass {
    width: 100%; /* Change width to 100% to ensure it resizes with the container */
    border: 8px solid black;
    margin-right: 10px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in;
}

button {
    border: 5px solid black;
    font-size: 20px;
    color: blue;
    background-color: tan;
    border-radius: 20px;
    animation: fadeIn 1s ease-in;
}

p {
    font-size: 20px;
    animation: fadeIn 1s ease-in;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%; /* Adjust width for smaller screens */
        padding: 20px;
    }

    img, .Leftclass {
        width: 100%; /* Set both image and Leftclass to 100% width */
        max-width: 100%; /* Ensure image and Leftclass resizes with screen */
    }

    img {
        margin-right: 0; /* Remove margin-right for img */
    }

    img, .Leftclass, button, p {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
}

nav {
    text-align: left;
    margin-top: 25px;
}

nav a {
    background: peru;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-right: 10px;
}

nav a:hover {
    background: black;
}
